body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.header {
    background: #F6F6F6;
    text-align: start;
    width: 100%;
    height: 60px;
}
.menu {
    line-height: 3em;
}
.menu-link {
    padding: 8px;
    vertical-align: middle;
    color: #7C7C7C;
}
a {
    text-decoration: none;
}
.jumbo {
    background: #F0F0F0;
    padding: 50px;
    line-height: 2em;
    margin-top: 30px;
    border-radius: 10px;
}
.jumbo-title {
    font-size: 40px;
    font-weight: 100;
}
.jumbo-text {
    font-size: 25px;
    color: #555555;
    padding-bottom: 10px;
}
.jumbo-link {
    background: #3A8BD0;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}
.jumbo-link:hover {
    color: #000;
}
.content {
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-menu{
    margin-bottom: 60px;
}
.content-title {
    font-size: 30px;
    font-weight: 100;
}
.content-text {
    color: #777777;
    text-align: justify;
    font-size: 20px;
}
.content-link {
    background: #3A8BD0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    float: right;
    padding: 4px 8px 4px 8px;
}
.break {
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.images {
    display: flex;
    justify-content: space-around;
}
img {
    width: 250px;
    height: 150px;
    padding: 20px;
}
.one-link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-link {
    background: #3A8BD0;
    padding: 15px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
}
.footer {
    background: #F6F6F6;
    padding: 30px;
    margin-top: 50px;
}
.footer-link {
    color: #7C7C7C;
    vertical-align: middle;
}